body
  font-family "Calibri"

h1
  color #6a0307
h2
  color #6a0307
h3
  color #6a0307
  margin-bottom 0
  font-family "Yanone Kaffeesatz"
  font-weight 400

.remark-slide-content
  h1
    font-size 3em
  h2
    font-size 2em
  h3
    font-size 1.6em

.footnote
  position absolute
  bottom 3em

.telemeta
  color black
  background white

.telemeta-inverse
  color white
  background #6a0307
  text-shadow 0 0 20px #333
  hr
    height 0px
    border 0
    border-top 4px solid white
  h1
    color white
  h2
    color white
  h3
    color white


li
  font-size 1.3em
  line-height 1.75em
  p
    line-height 1.25em
  li
   font-size 0.9em
   line-height 1.25em


.red
  color #fa0000

.large
  font-size 2em

a, a > code
  color #6a0307
  text-decoration none

hr
  // border-color #6ec6b3
  height 0px
  border 0
  border-top 4px solid #6a0307

code
  border-radius 5px
  background #e7e8e2

.remark-code
.remark-inline-code
  font-family "Ubuntu Mono"

.remark-code-line-highlighted
  background-color #373832

.pull-left
  float left
  width 47%

.pull-right
  float right
  width 47%

.pull-right ~ p
  clear both

#slideshow
  .slide
    .content
      code
        font-size 0.8em
      pre
        code
          padding 15px
          font-size 0.9em

.inverse
  color #777872
  background #272822
  text-shadow 0 0 20px #333

.inverse h1
.inverse h2
  line-height 0.8em
  color #f3f3f3

/* Slide-specific styling */

#slide-inverse
  .footnote
    bottom 12px
    left 20px

#slide-how
  .slides
    position absolute
    top  151px
    right 140px
    font-size 0.9em

#slide-how
  .slides
    h3
      margin-top 0.2em

#slide-how
  .slides
    .first
    .second
      width 120px
      height 90px
      padding 1px 20px
      box-shadow 0 0 10px #777

#slide-how
  .slides
    .first
      position absolute
      z-index 1
      top 20%
      left 20%
      background #fff

#slide-how
  .slides
    .second
      position relative
      z-index 0
      background #fff

/* Two-column layout */

.left-column
  float left
  width 30%
  height 92%
  color #777

.left-column
  h2:last-of-type
  h3:last-child
    color #000

.right-column
  float right
  width 65%
  padding-top 1em

.tight
  li
    line-height 1.25em
    p
      line-height 1.25em
